.head {
    color:              white;
    background-color:   rgb(46, 120, 231);
    text-align:         center;
    width:              100%;
    height:             45px;
    clear:              both;
}
.weatherInfo {
    background-color:   rgb(178, 212, 241);
    width:                95%;
    height:               300px;
    border:               1px solid rgb(140, 173, 218);
    margin-top:           1px;
}

.days {
    border-radius:        20px;
    height:               150px;
    width:                50px;
    background-color:    rgba(49, 124, 236, 0.904);
    color:               white;
    font-size:            small;
    padding:               5px
}

.sidebar {
    height: 100%;
    width: 220px;
    top: 45px;
    padding-top: 2px;
    left: 0;
    background-color: #f1f1f1;
    position: fixed;
    overflow-x: hidden;
  }
  
.content {
    margin-left: 230px;
    height: 800px;
    width: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


